@keyframes flip-down {
  0% {
    transform: perspective(2500px) rotateX(100deg);
  }
  50% {
    transform: perspective(2500px) rotateX(-30deg);
  }
  75% {
    transform: perspective(2500px) rotateX(15deg);
  }
  100% {
    transform: perspective(2500px) rotateX(0);
  }
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}