@import "_reset";
@import "_fonts";
@import "_mixin";
@import "_keyframes";

// Colors
$white: #FFFFFF;

$black: #151B1F;
$black-75: #505457;
$black-50: #8A8D8F;
$black-25: #C5C6C7;
$black-10: #E8E8E9;
$black-5: #F6F6F6;

$yellow: #FCBA00;
$yellow-dt: #EDAF00;
$yellow-75: #FDCC40;
$yellow-50: #FEDD80;
$yellow-25: #FEEEBF;
$yellow-10: #FFF8E5;


// Custom container width
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1110px;
  }
}

//============= Common =============//
body {
  font-family: 'PTRootUI';
  font-weight: 400;
  background-color: $white !important;
  color: $black;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $black-10;
  }
  &::-webkit-scrollbar-thumb {
    background: $black-75;
  }
  @include xs {
    font-size: 24px !important;
  }
  @media (min-width: $md) {
    font-size: 20px !important;
  }
}

%icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  @include lg {
    font-size: 80px;
    margin-bottom: 35px;
  }
  @include md {
    font-size: 60px;
    margin-bottom: 25px;
  }
  @include xs {
    font-size: 50px;
    margin-bottom: 20px;
  }
}
h2 {
  @include lg {
    font-size: 60px;
    margin-bottom: 35px;
  }
  @include md {
    font-size: 50px;
    margin-bottom: 25px;
  }
  @include xs {
    font-size: 44px;
    margin-bottom: 20px;
  }
}
h3 {
  @media (max-width: $md-top) {
    font-size: 34px;
  }
  @include lg {
    font-size: 48px;
  }
}
h4 {
  @media (max-width: $md-top) {
    font-size: 30px;
  }
  @include lg {
    font-size: 36px;
  }
}
h5 {
  @media (max-width: $md-top) {
    font-size: 26px;
  }
  @include lg {
    font-size: 28px;
  }
}
h6 {
  @media (max-width: $md-top) {
    font-size: 24px;
  }
  @include lg {
    font-size: 26px;
  }
}
.fs-18 {
  font-size: 18px;
}
.fs-24 {
  font-size: 24px;
}

.form-control {
  border: 2px solid $yellow;
  border-radius: 2rem;
  &:focus {
    border-color: $yellow;
  }
  &::placeholder {
    color: $black-25;
  }
}
.wpcf7 form .wpcf7-response-output {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}
.wpcf7-not-valid-tip {
  line-height: 1.1;
  text-align: center;
  margin-top: .25rem;
  font-size: 16px;
  font-weight: 500;
  color: $black;
}
.slider {
  .image-compare-viewer {
    border-radius: 40px;
    //height: 66vh;
  }
  .slick-prev, .slick-next {
    height: 40px;
    width: 40px;
    z-index: 1;
    @media (max-width: $md-top) {
      bottom: -82px;
      top: inherit;
    }
    &::before {
      color: $yellow;
      font-size: 40px;
    }
  }
  .slick-prev {
    left: -50px;
    @media (max-width: $md-top) {
      left: 0;
    }
  }
  .slick-next {
    right: -50px;
    @media (max-width: $md-top) {
      right: 0;
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -50px;
    z-index: 0;
    li {
      margin: 0 15px;
      button::before {
        font-size: 20px;
        color: $black-10;
        opacity: 1;
      }
      &.slick-active button::before {
        color: $yellow;
      }
    }
  }
}
a {
  color: $black-75;
  &:hover {
    color: $black;
  }
}
//============= End Common =============//

//============= Section =============//
section {
  margin: 100px 0;
}
.bg-rect {
  margin: 0 !important;
  padding: 80px 0;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $black-5;
    position: absolute;
    top: 0;
    z-index: -1;
    @media (min-width: 1376px) {
      border-radius: 40px;
    }
  }
  @include modifier(right) {
    &::after {
      @media (min-width: 1376px) and (max-width: 1919px) {
        left: 5%;
      }
      @media (min-width: 1920px) {
        left: 15%;
      }
    }
  }
  @include modifier(left) {
    &::after {
      @media (min-width: 1376px) and (max-width: 1919px) {
        right: 5%;
      }
      @media (min-width: 1920px) {
        right: 15%;
      }
    }
  }
}
.section-title {
  text-align: center;
  @include modifier(left) {
    text-align: left;
  }
  @include xs {
    margin-bottom: 30px;
  }
  @media (min-width: $md) {
    margin-bottom: 40px;
  }
}
.subtitle {
  font-weight: 500;
  font-size: 28px;
  color: $black-75;
  line-height: 1.2;
}
//============= End Section =============//

//============= Block =============//
.p-block {
  @include xs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media (min-width: $md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
//============= End Block =============//

//============= Buttons =============//
.btn {
  border-radius: 2rem;
  font-size: 20px;
  font-weight: 500;
}
.btn-default {
  color: $white;
  background-color: $black;
  border-color: $black;
  &:hover {
    color: $yellow;
  }
}
.btn-warning {
  color: $black;
  background-color: $yellow;
  border-color: $yellow;
  &:hover {
    color: $black;
    background-color: $yellow-dt;
    border-color: $yellow-dt;
  }
}
.btn-warning:active:focus {
  box-shadow: none !important;
}
.btn-outline-warning {
  color: $black;
  border-color: $yellow;
  border-width: 3px;
  &:hover {
    color: $black;
    background-color: $yellow !important;
    border-color: $yellow;
  }
}
.btn-lg {
  @media (max-width: $md-top) {
    padding: 8px 50px;
  }
  @include lg {
    padding: 8px 65px;
  }
}
.btn-callback-xs {
  width: 50px;
  height: 50px;
}
.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2rem;
  border: 2px solid $black-75;
  background-color: $white;
  color: $black-75;
  &:hover {
    color: $white;
    background-color: $black;
    border-color: $black;
  }
}
//============= End Buttons =============//

//============= Header =============//
.header {
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 99;
  background: $white;
  &.-sticky {
    position: fixed;
    z-index: 1040;
    width: 100vw;
    animation: down .6s;
  }
  @include element(inner) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @media (max-width: 1023px) {
      width: 80px;
      height: 80px;
    }
    @media (min-width: 1024px) {
      width: 100px;
      height: 100px;
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style: none;
    }
  }
  .menu {
    display: flex;
    font-size: 18px;
    @media (max-width: $md-top) {
      display: none;
    }
    .menu-item {
      margin: 0 1rem;
      &:hover {
        cursor: pointer;
      }
      a {
        color: $black;
        transition: all .4s ease-in;
        &:hover {
          font-weight: bold;
        }
      }
    }
    .menu-item-has-children {
      &::after {
        @extend %icon;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f107";
        font-size: 16px;
        margin-left: .25rem;
      }
      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
    .current-menu-item > a,
    .current-menu-ancestor > a {
      font-weight: bold;
    }
    .sub-menu {
      animation-name: down;
      animation-delay: .25s;
      animation-duration: .4s;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards;
      position: absolute;
      background-color: $white;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      padding: 16px;
      display: none;
      .menu-item {
        margin: 0;
        &:not(:last-child) {
          margin-bottom: .5rem;
        }
      }
      .current-menu-item > a {
        font-weight: bold;
      }
    }
  }
  .language {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
    @media (max-width: $md-top) {
      display: none;
    }
    li {
      text-transform: uppercase;
      list-style: none;
      a {
        color: $black-50;
        font-weight: bold;
        &:hover {
          color: $black;
        }
      }
      &:first-child {
        display: flex;
        position: relative;
        margin-right: 6px;
        padding-right: 8px;
        &::after {
          content: '';
          display: block;
          width: 3px;
          height: 20px;
          background-color: $black;
          position: absolute;
          top: 7px;
          right: 0;
        }
      }
      &.current-lang a {
        color: $black;
      }
    }
  }
  .menu-btn {
    i {
      font-size: 30px;
    }
    @include lg {
      display: none;
    }
  }
}
//============= End Header =============//

//============= Section Main =============//
.s-main {
  margin: 0;
  position: relative;
  margin-bottom: 100px;
  @include xs {
    //margin-bottom: 100px;
    margin-top: 110px;
    .s-main-title {
      text-align: center;
      margin-top: 2px;
      margin-bottom: 2rem;
      p {
        font-size: 24px;
      }
    }
  }
  @media (min-width: $md) {
    .s-main-title {
      p {
        font-size: 28px;
        margin-bottom: 0;
      }
    }
  }
  @include md {
    padding-top: 145px;
    .s-main-title {
      text-align: center;
      margin-top: 50px;
    }
  }
  @media (min-width: $lg) and (max-width: 1439px) {
    padding-top: 135px;
    .s-main-title {
      margin-top: 100px;
      h1 {
        padding-right: 45px;
      }
    }
  }
  @media (min-width: 1440px) {
    padding-top: 135px;
    .s-main-title {
      margin-top: 150px;
      h1 {
        padding-right: 30px;
      }
    }
  }
  .s-main-more {
    width: 120px;
    font-size: 18px;
    text-align: right;
    position: absolute;
    transform: rotate(-90deg);
    @include xs {
      left: 77%;
      bottom: 10%;
    }
    @media (min-width: $md) and (max-width: 1023px) {
      bottom: 10%;
      left: 85%;
    }
    @media (min-width: 1024px) {
      bottom: 5%;
      left: 45%;
    }
    &:hover {
      cursor: pointer;
    }
    .arrow {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $yellow;
      border-radius: 10px;
      position: relative;
      &::before, &::after {
        content: '';
        display: block;
        width: 15px;
        height: 3px;
        position: absolute;
        left: -2px;
        background-color: $yellow;
        border-radius: 10px;
      }
      &::before {
        top: -5px;
        transform: rotate(-45deg);
      }
      &::after {
        top: 5px;
        transform: rotate(45deg);
      }
    }
  }
  .s-main-img {
    @include xs {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 65%;
      }
    }
    @media (min-width: $md) and (max-width: 1023px) {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60%;
      }
    }
  }
}
//============= End Section Main =============//

//============= Section Services =============//
.s-services {
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include element(img-link) {
      width: 250px;
      height: 250px;
      border-radius: 100%;
      margin-bottom: 20px;
      position: relative;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 0;
        transition: background-color .4s ease-in;
      }
      &:hover {
        &::after {
          background-color: rgba($yellow, .4);
        }
        /*.service-more {
          background-color: $yellow !important;
        }*/
      }
    }
    @include element(img) {
      width: 250px;
      height: 250px;
      border-radius: 100%;
      background-color: $yellow;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      img {
        width: 80%;
      }
    }
    @include element(name) {
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
    @include element(more) {
      padding: 5px 38px;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    button {
      position: absolute;
      bottom: -24px;
    }
  }
}
//============= End Section Services =============//

//============= Section About =============//
.s-about {
  .about-text {
    text-align: center;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
//============= End Section About =============//


//============= Section Consultation =============//
.s-consultation {
  .signup-container {
    border-radius: 40px;
    background-color: $yellow;
    text-align: center;
    @include xs {
      padding: 60px 30px;
    }
    @media (min-width: $md) {
      padding: 60px 45px;
    }
    p {
      margin-bottom: 2rem;
      line-height: 1.2;
      &.slog, &.text-under {
        margin-top: 1.5rem;
        margin-bottom: 0;
      }
    }
  }
}
//============= End Section Consultation =============//

//============= Section Specialists =============//
.s-specialists {
  .spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include element(photo) {
      width: 255px;
      height: 350px;
      border-radius: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    }
    @include element(name) {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }
    @include element(description) {
      line-height: 1.2;
      text-align: center;
    }
  }
}
//============= End Section Specialists =============//

//============= Section Advantages =============//
.s-advantages {
  /*.advantages-text {
    font-size: 28px;
  }
  ul {
    margin-bottom: 0;
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }*/
}
//============= End Section Advantages =============//

//============= Section Results =============//
.s-results {
  .these {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include element(icon) {
      margin-bottom: .25rem;
      i {
        font-size: 40px;
      }
    }
    @include element(text) {
      font-weight: 500;
      text-align: center;
      line-height: 1.2;
      padding: 0 2rem;
    }
  }
  .slider {
    margin-top: 3rem;
    @include element(item) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .slick-track {
      @media (min-width: $md) {
        height: 60vh;
        .slick-slide {
          border-radius: 40px;
          overflow: hidden;
        }
      }
    }
    .result-photo {
      height: 100%;
      img {
        height: 100%;
        border-radius: 40px;
        @media (min-width: $md) {
          margin: 0 .25rem;
        }
      }
    }
  }
}
//============= End Section Results =============//

//============= Section Reviews =============//
.s-reviews {
  /*.slider-item {
    display: flex;
    justify-content: center;
  }*/
  .review {
    margin: 1rem;
    padding: 40px 24px;
    //width: 500px;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    i {
      color: $yellow;
      margin-bottom: 1rem;
      &::before {
        font-size: 32px;
      }
    }
    @include element(text) {
      margin-bottom: 1.5rem;
    }
    .author {
      display: flex;
      align-items: center;
      @include xs {
        flex-direction: column;
      }
      @include element(photo) {
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        @include xs {
          margin-bottom: 1rem;
        }
      }
      @include element(data) {
        margin-left: 1.5rem;
        flex: 1;
        .position {
          font-size: 18px;
          color: $black-50;
          line-height: 1.2;
        }
      }
    }
  }
}
//============= End Section Reviews =============//

//============= Section Appointment =============//
.s-appointment {
  @extend .s-consultation;
  &.-service {
    .slog {
      display: none;
    }
  }
}
//============= End Section Appointment =============//

//============= Section Contacts =============//
.s-contacts {
  h6 {
    margin-bottom: 20px;
  }
  .call-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    a {
      text-decoration: underline;
      color: $black-75;
      &:not(:last-child) {
        margin-bottom: .75rem;
      }
      &:hover {
        color: $black;
      }
    }
  }
  .socials {
    text-align: center;
    margin-bottom: 2.5rem;
    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 2px solid $black;
      border-radius: 50%;
      margin: 0 1rem;
      i {
        font-size: 24px;
      }
    }
  }
  .we-working {
    text-align: center;
    margin-bottom: 1.5rem;
    p {
      margin-bottom: .25rem;
    }
  }
}
//============= End Section Contacts =============//


//============= Pages Services =============//
.about {
  @include xs {
    margin-top: 0;
  }
  @media (min-width: $md) and (max-width: 1439px) {
    margin-top: 2rem;
  }
  img {
    border-radius: 40px;
  }
  button {
    margin-top: 2rem;
  }
}

.whom {
  img {
    border-radius: 40px;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
}

.zone {
  img {
    border-radius: 40px;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
  @include element(description) {
    margin-top: 2rem;
    ul {
      margin-bottom: 0;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

.ba {
  .ba-title {
    display: flex;
    margin-bottom: 1rem;
    @media (max-width: $md-top) {
      flex-direction: column;
      align-items: center;
    }
    @include lg {
      flex-direction: row;
      align-items: flex-start;
      min-height: 92px;
    }
    i {
      font-size: 40px;
      //color: $blue-dt;
      @media (max-width: $md-top) {
        margin-bottom: .5rem;
      }
      @include lg {
        margin-right: 1rem;
      }
    }
    h4 {
      line-height: 1.2;
      @media (min-width: 1024px) and (max-width: $md-top) {
        min-height: 84px;
      }
    }
  }
}

.advantages, .s-advantages {
  .subtitle {
    @include xs {
      margin-bottom: 3rem;
    }
    @media (min-width: $md) {
      margin-bottom: 2rem;
    }
  }
  .advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      line-height: 1.2;
      @include xs {
        text-align: center;
      }
    }
  }
  .icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;
    border-radius: 50%;
    margin-bottom: 1rem;
    i {
      font-size: 30px;
      &.fa-mars {
        font-size: 36px;
      }
    }
  }
  .description {
    text-align: center;
  }
}

.how {
  video {
    border-radius: 40px;
  }
  .subtitle {
    margin-bottom: 2rem;
  }
  .video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    .video {
      max-height: 60vh;
    }
  }
  .how-item {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    margin-bottom: 2rem;
    background-color: $white;
    box-shadow: 4px 4px 10px rgba($black, 0.25);
    border-radius: 30px;
    overflow: hidden;
    .item-img {
      width: 100%;
      height: 200px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .item-idx {
      position: absolute;
      bottom: -15px;
      right: 5px;
      color: $black-5;
      font-size: 150px;
      font-weight: bold;
      line-height: 1;
      z-index: 0;
    }
    .item-desc {
      padding: 1rem;
      line-height: 1.2;
      z-index: 1;
      @include xs {
        font-size: 22px;
      }
    }
  }
}

.opinion {
  i {
    //color: $blue-dt;
    margin-bottom: .5rem;
  }
  @include element(text) {
    font-style: italic;
    margin-bottom: 2rem;
  }
  @include element(expert) {
    display: flex;
    align-items: center;
    .expert-photo {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .expert-info {
      margin-left: 1.5rem;
      @include xs {
        width: 50%;
      }
      .name {
        font-weight: 700;
        margin-bottom: 0;
        //color: $blue-dt;
        @include xs {
          font-size: 20px;
        }
        @media (min-width: $md) {
          font-size: 22px;
        }
      }
      .position {
        color: $black-50;
        @include xs {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }
  }
}
//============= End Pages Services =============//

//============= Section SEO =============//
.s-seo {
  .seo-container {
    position: relative;
    display: flex;
    justify-content: center;
    &.open {
      .seo-text {
        &::after {
          background: transparent;
        }
      }
      .seo-btn {
        bottom: -50px;
        &:before {
          transform: rotate(180deg);
        }
      }
    }
  }
  .seo-text {
    height: 96px;
    overflow: hidden;
    p {
      margin-bottom: 10px;
      color: $black;
    }
    h2 {
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 1.2em;
    }
    ul {
      padding-left: 40px;
      margin-bottom: 10px;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba($white, 0) 20%, $white 100%);
      position: absolute;
      bottom: 0;
    }
  }
  .seo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    width: 40px;
    height: 40px;
    border: 2px solid $black;
    border-radius: 50%;
    background-color: $white;
    color: $black;
    transition: all .4s ease-in-out;
    &:hover {
      background-color: $black;
      color: $white;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      box-shadow: none;
    }
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      content: "\f078";
      text-align: center;
      font-size: 20px;
      transition: transform .4s ease-in-out;
    }
  }
}
//============= End Section SEO =============//

//============= Map =============//
.map {
  height: 310px;
  border: 2px solid $black-25;
  border-radius: 40px;
}
//============= End Map =============//

//============= Btn Scroll-Up =============//
.scroll-up {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: $yellow-75;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color: $white;
  opacity: 0;
  transition: opacity .4s ease-in-out, background-color .15s ease-in-out;
  z-index: 1999;
  &:hover {
    color: $white;
    background-color: lighten($yellow, 20);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) !important;
  }
  &.-show {
    opacity: 1;
  }
  @media (max-width: $md-top) {
    bottom: 15px;
  }
  @include lg {
    bottom: 20px;
  }
}
//============= Btn Scroll-Up =============//

//============= Footer =============//
.footer {
  background-color: $black-5;
  @include element(nav) {
    padding: 1rem 0;
    ul.menu {
      margin-bottom: 0;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      @media (max-width: $md-top) {
        flex-wrap: wrap;
      }
      li {
        list-style: none;
        a {
          font-size: 18px;
          &:hover {
            text-decoration: underline;
            color: $black;
          }
        }
      }
      & > .menu-item {
        &:hover {
          cursor: pointer;
        }
        & > a {
          font-weight: bold;
        }
        @include xs {
          flex: 0 0 44%;
          margin: 0 10px 10px;
        }
        @include md {
          flex: 0 0 33%;
          margin-bottom: .5rem;
        }
      }
      .sub-menu {
        padding-left: 0;
      }
    }
  }
  @include element(content) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: $black;
    background-color: $yellow;
    font-weight: 500;
  }
}
//============= End Footer =============//

//============= Price =============//
.s-price {
  .procedure {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    animation: flip-down;
    animation-duration: 1000ms;
    animation-delay: 200ms;
    animation-iteration-count: 1;
    transition: background-color .4s ease-in;
    &:hover {
      background-color: $yellow-50;
      cursor: pointer;
    }
    @include element(link) {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: rgba($black, .2);
      border-radius: 30px;
      &:hover {
        color: $yellow;
      }
    }
    @include element(name) {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.s-price-sub {
  .service {
    height: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    animation: flip-down;
    animation-duration: 1000ms;
    animation-delay: 200ms;
    animation-iteration-count: 1;
    &:hover {
      cursor: pointer;
    }
  }
  .service-image {
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .service-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    padding: 15px;
  }
  .service-name {
    text-transform: uppercase;
    line-height: 1;
  }
  .service-price {
    display: flex;
    flex-direction: column;
    .price {
      text-align: right;
      font-size: 42px;
      font-weight: bold;
      line-height: 1;
      color: $yellow;
    }
    .note {
      font-size: 14px;
      text-align: right;
      color: $black-75;
      i {
        color: $black-75;
      }
    }
  }
}
//============= End Price =============//

//========== Cd-Panel ==========//
.cd-panel {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  .cd-panel-close {
    position: absolute;
    top: 25px;
    right: 10px;
    height: 45px;
    width: 60px;
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    z-index: 100;
    &::before, &::after {
      content: " ";
      position: absolute;
      top: 22px;
      left: 20px;
      height: 4px;
      width: 30px;
      background-color: $black;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &.is-visible {
    opacity: 1;
    transition: opacity .4s ease-in;
  }
  .cd-panel-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    z-index: 1;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    @include modifier(black) {
      background: $black;
    }
    @include modifier(white) {
      background: $white;
    }
  }
  .cd-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    .cd-panel-nav {
      padding: 50px 15px 0;
    }
    ul {
      padding-left: 15px;
      margin-bottom: 0;
      li {
        list-style: none;
      }
    }
    .menu {
      .menu-item {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        a {
          font-size: 32px;
          font-weight: bold;
          color: $black-50;
        }
      }
      .menu-item-has-children {
        & > a {
          &::after {
            @extend %icon;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            font-size: 26px;
            margin-left: .75rem;
            transition: transform .25s ease-in;
          }
        }
        &.open-menu {
          a {
            &::after {
              transform: rotate(180deg);
            }
          }
          .sub-menu {
            max-height: 500px;
          }
        }
      }
      .current-menu-ancestor > a {
        color: $black;
      }
      .sub-menu {
        padding-left: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-in;
        .menu-item {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          a {
            font-size: 26px;
            font-weight: bold;
          }
        }
        .current-menu-item a {
          color: $black;
        }
      }
    }
    .language {
      position: fixed;
      right: 0;
      bottom: 40px;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      transform: rotate(90deg);
      li {
        text-transform: uppercase;
        list-style: none;
        a {
          color: $black-50;
          font-size: 28px;
          font-weight: bold;
          &:hover {
            color: $black;
          }
        }
        &:first-child {
          display: flex;
          position: relative;
          margin-right: 6px;
          padding-right: 8px;
          &::after {
            content: '';
            display: block;
            width: 3px;
            height: 28px;
            background-color: $black;
            position: absolute;
            top: 7px;
            right: 0;
          }
        }
        &.current-lang a {
          color: $black;
        }
      }
    }
  }
}
//========== End Cd-Panel ==========//

//========== Modal ==========//
.modal {
  .close {
    position: absolute;
    right: 22px;
    top: 22px;
    color: $black-75;
  }
  .modal-content {
    border-radius: 40px;
    border: 4px solid $yellow;
  }
  .modal-body {
    @include xs {
      padding: 50px;
    }
    @media (min-width: $md) {
      padding: 50px 70px;
    }
  }
  .form-content {
    .form-title {
      margin-bottom: 1rem;
    }
    .form-subtitle {
      line-height: 1.1;
      margin-bottom: 2rem;
    }
    .slog {
      font-size: 18px;
      margin-bottom: 3rem;
    }
  }
  &.-price {
    img {
      border-radius: 20px;
    }
    .modal-header {
      h4 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .service-price {
        color: $yellow;
        font-size: 42px;
      }
    }
    .modal-body {
      padding: 1rem;
    }
    .modal-footer {
      justify-content: normal !important;
    }
  }
}
//========== End Modal ==========//

//========== Page 404 ==========//
.s-404 {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 146px);
}
//========== End Page 404 ==========//

//========== Blog ==========//
.s-post {
  p {
    font-size: 24px;
  }
}
.post-card {
  margin: 1rem 0;
  //padding: 1.5rem;
  background-color: $white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  img {
    border-radius: 20px;
  }
  .card-body {
    padding: 1rem;
  }
  .card-title {
    margin-bottom: 1.5rem;
  }
}
//========== End Blog ==========//

/*кнопка звонка*/
.callback-bt {
  background-color: $yellow;
  border: 2px solid $yellow-75;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba($yellow, 0.3);
  cursor: pointer;
  text-align: center;
  position: fixed;
  left: 22px;
  bottom: 22px;
  z-index: 999;
  transition: .3s;
  animation: hoverWave linear 1s infinite;
  @include xs {
    height: 55px;
    width: 55px;
  }
  @media (min-width: $md) {
    height: 68px;
    width: 68px;
  }
}

.callback-bt .text-call {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.callback-bt .text-call span {
  text-align: center;
  color: $black-75;
  opacity: 0;
  font-size: 0;
  position: absolute;
  right: 4px;
  top: 22px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity .3s linear;
}

.callback-bt .text-call:hover span {
  opacity: 1;
  font-size: 10px;
}
.callback-bt:hover i {
  display: none;
}

.callback-bt:hover {
  z-index: 1;
  background: $white;
  color: transparent;
  transition: .3s;
}
.callback-bt i {
  color: $white;
  transition: .5s ease-in-out;
  @include xs {
    font-size: 28px;
  }
  @media (min-width: $md) {
    font-size: 34px;
  }
}

.callback-bt i  {
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
}
/* конец кнопки звонка */