@charset "UTF-8";
html, body, div, span, em, img, strong, sub, sup, b, u, i, dl, dt, dd, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%;
  box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, td img {
  vertical-align: top;
}

input, select, button, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

input[type=checkbox] {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100% !important;
  overflow-y: scroll;
}

/*body {
  font-family: Arial, sans-serif normal 16px/1.5;
  font-weight: normal;
  text-align: left;
  color: #000;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}*/
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

input, select, button, textarea {
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
  outline: none;
}

a {
  color: #000;
}

a, input, button, a img, textarea {
  transition: color 0.5s, background 0.5s, opacity 0.5s, border 0.5s;
  outline: none;
}
a:hover, a:focus, input:hover, input:focus, button:hover, button:focus, a img:hover, a img:focus, textarea:hover, textarea:focus {
  outline: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@font-face {
  font-family: "PTRootUI";
  src: url("../fonts/PTRootUI_Light/PTRootUI_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI_Light/PTRootUI_Light.woff2") format("woff2"), url("../fonts/PTRootUI_Light/PTRootUI_Light.woff") format("woff"), url("../fonts/PTRootUI_Light/PTRootUI_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../fonts/PTRootUI_Regular/PTRootUI_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI_Regular/PTRootUI_Regular.woff2") format("woff2"), url("../fonts/PTRootUI_Regular/PTRootUI_Regular.woff") format("woff"), url("../fonts/PTRootUI_Regular/PTRootUI_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../fonts/PTRootUI_Medium/PTRootUI_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI_Medium/PTRootUI_Medium.woff2") format("woff2"), url("../fonts/PTRootUI_Medium/PTRootUI_Medium.woff") format("woff"), url("../fonts/PTRootUI_Medium/PTRootUI_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTRootUI";
  src: url("../fonts/PTRootUI_Bold/PTRootUI_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI_Bold/PTRootUI_Bold.woff2") format("woff2"), url("../fonts/PTRootUI_Bold/PTRootUI_Bold.woff") format("woff"), url("../fonts/PTRootUI_Bold/PTRootUI_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Media mixins */
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@keyframes flip-down {
  0% {
    transform: perspective(2500px) rotateX(100deg);
  }
  50% {
    transform: perspective(2500px) rotateX(-30deg);
  }
  75% {
    transform: perspective(2500px) rotateX(15deg);
  }
  100% {
    transform: perspective(2500px) rotateX(0);
  }
}
html {
  overflow: auto;
}

body {
  height: 100%;
  font-family: "PTRootUI";
  font-weight: 400;
  background-color: #FFFFFF;
  color: #151B1F;
  margin: 0;
  font-size: 20px !important;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #E8E8E9;
}
body::-webkit-scrollbar-thumb {
  background: #004772;
}

img {
  width: 100%;
}

img, .image-compare-viewer,
video, .service {
  border-radius: 10px;
}

hr {
  background-color: #E8E8E9;
  opacity: 1;
}

@keyframes down {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.service-title, h1 {
  line-height: 1.1;
}
@media (min-width: 1200px) {
  .service-title, h1 {
    font-size: 60px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .service-title, h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .service-title, h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

h2 {
  line-height: 1.1;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 45px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.section-title, .block-title {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .block-title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .block-title {
    margin-bottom: 3rem;
  }
}

.service-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #004772;
}

.service-title-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.service-title-divider::before, .service-title-divider::after {
  position: absolute;
  content: "";
  display: block;
  width: 45%;
  height: 2px;
  background-color: #ffc107;
}
.service-title-divider::before {
  left: 0;
}
.service-title-divider::after {
  right: 0;
}
.service-title-divider i {
  font-size: 14px;
  transform: rotate(45deg);
  color: #ffc107;
}

.subtitle {
  margin-bottom: 2rem;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .subtitle {
    font-size: 22px;
  }
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 767px) {
  .p-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .p-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .p-block {
    padding-top: 50px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .p-block {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.bg-grey {
  background-color: #F3F4F4;
}

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.btn-warning {
  color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  color: #FFFFFF;
  box-shadow: none;
  outline: none;
}

.btn-lg {
  padding: 15px 40px;
}

.btn-callback-xs {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  left: 0;
  position: relative;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}
.header.-sticky {
  position: fixed;
  z-index: 9999;
  animation: down 0.6s;
}
.header-inner {
  display: flex;
  align-items: center;
}

.header .logo {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
@media (max-width: 1023px) {
  .header .logo {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .header .logo {
    width: 70px;
    height: 70px;
  }
}
.header .contacts {
  display: flex;
}
@media (max-width: 767px) {
  .header .contacts {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .header .contacts {
    flex-direction: row;
    align-items: center;
  }
}
.header .contacts .phone a:not(last-child) {
  margin-right: 1rem;
}
@media (max-width: 1023px) {
  .header .btn-callback-xs {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header .btn-callback-xs {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header .btn-callback-md {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header .btn-callback-md {
    display: block;
  }
}

.s-main {
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
}
@media (max-width: 767px) {
  .s-main {
    padding: 80px 0;
    background-position: 50% 50%;
  }
}
@media (min-height: 768px) {
  .s-main {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .s-main {
    background-position-x: 85%;
  }
}
@media (min-width: 1200px) {
  .s-main {
    background-position: 50% 50%;
  }
}
.s-main p {
  font-size: 22px;
}

.s-procedures .procedure, .s-price .procedure,
.s-price-sub .procedure {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
}
.s-procedures .procedure-anchor, .s-price .procedure-anchor,
.s-price-sub .procedure-anchor,
.s-procedures .procedure-link,
.s-price .procedure-link,
.s-price-sub .procedure-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.s-procedures .procedure-anchor.active::before, .s-price .procedure-anchor.active::before,
.s-price-sub .procedure-anchor.active::before,
.s-procedures .procedure-link.active::before,
.s-price .procedure-link.active::before,
.s-price-sub .procedure-link.active::before {
  background-color: rgba(255, 193, 7, 0.6);
}
.s-procedures .procedure-anchor:hover::before, .s-price .procedure-anchor:hover::before,
.s-price-sub .procedure-anchor:hover::before,
.s-procedures .procedure-link:hover::before,
.s-price .procedure-link:hover::before,
.s-price-sub .procedure-link:hover::before {
  background-color: rgba(255, 193, 7, 0.6);
}
.s-procedures .procedure-anchor:hover .procedure-more, .s-price .procedure-anchor:hover .procedure-more,
.s-price-sub .procedure-anchor:hover .procedure-more,
.s-procedures .procedure-link:hover .procedure-more,
.s-price .procedure-link:hover .procedure-more,
.s-price-sub .procedure-link:hover .procedure-more {
  opacity: 1;
  transform: translateY(-70px);
}
.s-procedures .procedure-anchor::before, .s-price .procedure-anchor::before,
.s-price-sub .procedure-anchor::before,
.s-procedures .procedure-link::before,
.s-price .procedure-link::before,
.s-price-sub .procedure-link::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 27, 31, 0.5);
  transition: background-color 0.4s ease-in-out;
}
.s-procedures .procedure-anchor .procedure-name, .s-price .procedure-anchor .procedure-name,
.s-price-sub .procedure-anchor .procedure-name, .s-procedures .procedure-anchor .procedure-more, .s-price .procedure-anchor .procedure-more,
.s-price-sub .procedure-anchor .procedure-more,
.s-procedures .procedure-link .procedure-name,
.s-price .procedure-link .procedure-name,
.s-price-sub .procedure-link .procedure-name,
.s-procedures .procedure-link .procedure-more,
.s-price .procedure-link .procedure-more,
.s-price-sub .procedure-link .procedure-more {
  z-index: 1;
}
@media (max-width: 1023px) {
  .s-procedures .procedure-anchor .procedure-name, .s-price .procedure-anchor .procedure-name,
.s-price-sub .procedure-anchor .procedure-name,
.s-procedures .procedure-link .procedure-name,
.s-price .procedure-link .procedure-name,
.s-price-sub .procedure-link .procedure-name {
    font-size: 34px;
  }
}
.s-procedures .procedure-anchor .procedure-more, .s-price .procedure-anchor .procedure-more,
.s-price-sub .procedure-anchor .procedure-more,
.s-procedures .procedure-link .procedure-more,
.s-price .procedure-link .procedure-more,
.s-price-sub .procedure-link .procedure-more {
  position: absolute;
  bottom: -25px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
}

.procedure-section {
  display: none;
}
.procedure-section.active {
  display: block;
  opacity: 1;
}

.about .block-title {
  text-align: left;
}
@media (max-width: 1199px) {
  .about button {
    margin: 0 auto;
    display: block;
  }
}

.zone-description {
  font-size: 24px;
  font-weight: 500;
}
.zone-description ul {
  margin-bottom: 0;
}
.zone-description ul li {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .ba .block-title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .ba .block-title {
    margin-bottom: 3rem;
  }
}
.ba .ba-title {
  display: flex;
  margin-bottom: 1rem;
}
@media (max-width: 1199px) {
  .ba .ba-title {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .ba .ba-title {
    flex-direction: row;
    align-items: flex-start;
    min-height: 92px;
  }
}
.ba .ba-title i {
  font-size: 40px;
  color: #004772;
}
@media (max-width: 1199px) {
  .ba .ba-title i {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .ba .ba-title i {
    margin-right: 1rem;
  }
}
.ba .ba-title h4 {
  line-height: 1.2;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .ba .ba-title h4 {
    min-height: 84px;
  }
}

.advantages .advantages-item {
  display: flex;
}
@media (max-width: 767px) {
  .advantages .advantages-item {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .advantages .advantages-item {
    flex-direction: row;
    align-items: flex-start;
  }
}
.advantages .advantages-item i {
  font-size: 40px;
  margin-right: 1rem;
  color: #004772;
}
.advantages .advantages-item i.fa-3x {
  font-size: 3em !important;
}
.advantages .advantages-item p {
  line-height: 1.2;
}
@media (max-width: 767px) {
  .advantages .advantages-item p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .how img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

.opinion i {
  color: #004772;
  margin-bottom: 0.5rem;
}
.opinion-text {
  font-style: italic;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .opinion-text {
    font-size: 22px;
  }
}

.opinion-expert {
  display: flex;
}
.opinion-expert .expert-photo {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
  border: 4px solid #FFFFFF;
  margin-right: 1rem;
}
.opinion-expert .expert-info {
  padding-top: 0.75rem;
}
@media (max-width: 767px) {
  .opinion-expert .expert-info {
    width: 50%;
  }
}
.opinion-expert .expert-info .name {
  font-weight: 700;
  margin-bottom: 0;
  color: #004772;
}
@media (max-width: 767px) {
  .opinion-expert .expert-info .name {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .opinion-expert .expert-info .name {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .opinion-expert .expert-info .position {
    font-size: 16px;
    line-height: 1.2;
  }
}

/* Section SEO */
.s-seo {
  padding-top: 50px;
  padding-bottom: 50px;
}
.s-seo .seo-container {
  position: relative;
}
@media (max-width: 767px) {
  .s-seo .seo-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .s-seo .seo-container {
    padding-right: 9rem;
  }
}
.s-seo .seo-container.open .seo-text {
  max-height: none;
}
.s-seo .seo-container.open .seo-btn:before {
  content: "";
}
.s-seo .seo-text {
  max-height: 6rem;
  overflow: hidden;
}
.s-seo .seo-text p {
  margin-bottom: 10px;
  color: #151B1F;
}
.s-seo .seo-text h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #004772;
}
.s-seo .seo-text ul {
  padding-left: 40px;
  margin-bottom: 10px;
}
.s-seo .seo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  border: 2px solid #004772;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #004772;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px) {
  .s-seo .seo-btn {
    top: -40px;
  }
}
@media (min-width: 768px) {
  .s-seo .seo-btn {
    right: 3rem;
  }
}
.s-seo .seo-btn:hover {
  background-color: #004772;
  color: #FFFFFF;
}
.s-seo .seo-btn:hover, .s-seo .seo-btn:focus {
  text-decoration: none;
  box-shadow: none;
}
.s-seo .seo-btn:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "";
  text-align: center;
}

.s-appointment {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #004772;
  color: #FFFFFF;
}

.s-map .map {
  height: 500px;
}

.scroll-up {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ffc107;
  border-radius: 2rem;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, background-color 0.15s ease-in-out;
}
.scroll-up:hover {
  color: #FFFFFF;
  background-color: #ffce3a;
}
.scroll-up.-show {
  opacity: 1;
}
@media (max-width: 1199px) {
  .scroll-up {
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .scroll-up {
    bottom: 20px;
  }
}

.footer {
  background-color: #004772;
}
.footer-content {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer-content {
    justify-content: space-between;
  }
}
.footer-content h2 {
  font-size: 20px;
}
@media (max-width: 767px) {
  .footer-content h2 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .footer-content h2 {
    margin-bottom: 0;
  }
}
.footer-content .socials a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 40px;
  margin: 0 0.25rem;
}
.footer-content .socials a:hover i {
  color: #ffc107;
}
.footer-content .socials i {
  color: #004772;
  transition: 0.2s ease-in-out;
}

.c-modal .modal-header, .a-modal .modal-header {
  justify-content: flex-end;
  border-bottom: none;
}
.c-modal .form-subtitle, .a-modal .form-subtitle {
  padding: 0 1rem;
}
.c-modal textarea, .a-modal textarea {
  font-size: 1.25rem;
}
.c-modal textarea::placeholder, .a-modal textarea::placeholder {
  font-size: 1.25rem;
}

.s-price .procedure,
.s-price-sub .procedure {
  height: 165px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  animation: flip-down;
  animation-duration: 1000ms;
  animation-delay: 100ms;
  animation-iteration-count: 1;
}

.s-price-sub .back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2rem;
  background-color: #004772;
  color: #FFFFFF;
}
.s-price-sub .service {
  display: flex;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  animation: flip-down;
  animation-duration: 1000ms;
  animation-delay: 100ms;
  animation-iteration-count: 1;
}
.s-price-sub .service:hover {
  cursor: pointer;
}
.s-price-sub .service .service-image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-price-sub .service .service-info {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 10px;
}
.s-price-sub .service .service-name {
  text-transform: uppercase;
  line-height: 1;
}
.s-price-sub .service .service-price {
  text-align: right;
  font-weight: bold;
  color: #3699F4;
}
.s-price-sub .service .service-note {
  font-size: 12px;
  text-align: right;
  color: #3699F4;
}
